/*
*
* © 2020 Team PodaPunde
*
* CSS Stylesheet
*
*/

:root {
  --main: #5ac541;
}

.header {
    background-color: var(--main)!important;
    height: 20vh;
}

.navbar {
    background-color: var(--main)!important;
}

.border-top {
    border-color: black!important;
}

@media screen and (max-width: 800px) {
  .headerh1 {
    font-size: 20px!important;
  }
}


/* Footer part */
footer {
  position: absolute;
  bottom: 0;
  width:  100%;
  padding-top: 30px;
  padding-bottom: 10px;
  background: var(--main);
  color: black;
}

/* footer text */
.col p.copyright-text {
  text-align: center;
}

