<<<<<<< HEAD
.header {
    background-color: #5ac541!important;
    height: 20vh;
}

.navbar {
    background-color: #5ac541!important;
}

.border-top {
    border-color: black!important;
}

@media screen and (max-width: 800px) {
  .headerh1 {
    font-size: 20px!important;
  }
}
=======
/*
*
* © 2020 Team PodaPunde
*
* CSS Stylesheet
*
*/

:root {
  /* Colors will change, Now there are test colors */
  --main: blue;
  --second: red;
}

footer {
  position: absolute;
  bottom: 0;
  width:  100%;
  padding-top: 30px;
  padding-bottom: 10px;
  background: var(--second);
  color: var(--main);
}

>>>>>>> origin/bob
